<ion-content padding id="welcome">
  <img style="margin: 30px auto;" src="../../../assets/logo.jpg" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 style="margin: 20px auto;font-size: 26px;text-align: center;">Welcome to Nomanlord</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row style="margin: 10px auto;">
      <ion-col center text-center style="text-align: center;">
        <button ion-button full color="success" (click)="login()">LOG IN</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center style="text-align: center;">
        <button ion-button full color="lightText" (click)="dashboard()">DASHBOARD</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>