<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab='home'>
      <ion-icon name='home'></ion-icon>
      <ion-lable>Home</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab='travel'>
      <ion-icon name='airplane'></ion-icon>
      <ion-lable>Travel</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab='group'>
      <ion-icon name='people'></ion-icon>
      <ion-lable>Groups</ion-lable>
    </ion-tab-button>
    <ion-tab-button tab='my-activity'>
      <ion-icon name='body'></ion-icon>
      <ion-lable>My Activity</ion-lable>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
