<ion-app>
  <ion-split-pane contentId="content">

  <ion-menu contentId="content"  type='overlay'>
    <ion-content>
      <ion-list lines="none">
           <ion-list-header>
            Conference
          </ion-list-header>
        <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerLinkActive="selected" detail="false" routerDirection="root" [class.active-item]="selectedPath===p.url">
            <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>NomadLord </ion-title>
      <ion-buttons slot="end">
      <ion-icon size="large"  name="cart-outline"></ion-icon>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-app>
