<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NomadLord </ion-title>
    <ion-buttons slot="end">
    <ion-icon size="large"  name="cart-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <div style="text-align: center;">
    <ion-slides #slides [options]="sliderOptions" pager="false">
      <ion-slide>
        <h1>Travel</h1>
        <ion-slides #slides pager="false">
          <ion-slide>
            <ion-grid> 
              <ion-row>
                <ion-col  class="card-background-page">
                  
                  <ion-card   >
                    <div class="card-rate">INR 2500</div>
                     <div class="card-title">AMK-Alang Madan Kulang Trek</div>
                     <div class="card-place">Maharashtra</div>
                     <div class="card-organizer">Organized by Alpin climbers</div>
                   </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="card-background-page">
                  <ion-card style="background-image:url(https://www.nomadlord.com/Files/PackageImages/Pkg_637047524598214885.jpg); background-size: cover; "  >
                    <div class="card-rate">INR 1850</div>
                     <div class="card-title">Sandhan Valley Trek and Camping</div>
                     <div class="card-place">Maharashtra</div>
                     <div class="card-organizer">Organized by Alpin climbers</div>
                   </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col  class="card-background-page">
                  
                  <ion-card   >
                    <div class="card-rate">INR 2500</div>
                     <div class="card-title">AMK-Alang Madan Kulang Trek</div>
                     <div class="card-place">Maharashtra</div>
                     <div class="card-organizer">Organized by Alpin climbers</div>
                   </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col  class="card-background-page">
                  <ion-card   >
                    <div class="card-rate">INR 2500</div>
                     <div class="card-title">AMK-Alang Madan Kulang Trek</div>
                     <div class="card-place">Maharashtra</div>
                     <div class="card-organizer">Organized by Alpin climbers</div>
                   </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/PackageImages/Pkg_637047524598214885.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
        </ion-slides>
      </ion-slide>
      <ion-slide>
        <h1>Group</h1>
        <ion-slides #slides pager="false">
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637056851162663022.png"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637058573956979710.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637058999232629300.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637071480105613707.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
        </ion-slides>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

