<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NomadLord </ion-title>
    <ion-buttons slot="end">
    <ion-icon size="large"  name="cart-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <div style="text-align: center;">
    <ion-slides #slides [options]="sliderOptions" pager="false">
      <ion-slide>
        <h1>Travel</h1>
        <ion-slides #slides pager="false">
          <ion-slide *ngFor="let PublicPkgViewModels of PublicPkgViewModel">
            <ion-card style="height: 449px !important;">
              <ion-card-header>
                <ion-card-title style="height: 48px !important;">{{PublicPkgViewModels.PkgTitle}}</ion-card-title>
                <ion-card-subtitle >{{PublicPkgViewModels.PkgCurrencySymbol}} {{PublicPkgViewModels.PricePerPerson}}</ion-card-subtitle>
              </ion-card-header>
              <img class="pkgImage" [src]="'https://www.nomadlord.com/'+ PublicPkgViewModels.PkgImage" />
              <ion-card-content style="height: 75px !important;">
                <div class="card-place">{{PublicPkgViewModels.Countries}}</div>
                <div class="card-place">{{PublicPkgViewModels.States}}</div>
                <div class="card-organizer">Organised By {{PublicPkgViewModels.GroupName}}</div>
              </ion-card-content>
            </ion-card>
              
                
                  <!-- <ion-card>
                    <ion-card-header>
                      <ion-card-title>
                        <div class="card-title"></div>
                      </ion-card-title>
                    </ion-card-header>
                    <img [src]="'https://www.nomadlord.com/'+ PublicPkgViewModels.PkgImage"/>
                    <ion-card-content>
                      <div class="card-rate">{{PublicPkgViewModels.PkgCurrencySymbol}} {{PublicPkgViewModels.PricePerPerson}}</div>
                      <div class="card-place">{{PublicPkgViewModels.Countries}}</div>
                      <div class="card-place">{{PublicPkgViewModels.States}}</div>
                      <div class="card-organizer">Organised By {{PublicPkgViewModels.GroupName}}</div>
                    </ion-card-content>
                  </ion-card> -->
                
              
           
          </ion-slide>
        </ion-slides>
      </ion-slide>
      <ion-slide>
        <h1>Group</h1>
        <ion-slides #slides pager="false">
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637058573956979710.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637058573956979710.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637058999232629300.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
          <ion-slide>
            <img
              src="https://www.nomadlord.com/Files/ProfileImg/Profile_637071480105613707.jpg"
              height="50px"
              width="50px"
            />
          </ion-slide>
        </ion-slides>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

