<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NomadLord </ion-title>
    <ion-buttons slot="end">
    <ion-icon size="large"  name="cart-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="card-background-page">
  <ion-card   >
    <!-- <img  src="../../../assets/amk.jpg"/> -->
    <div class="card-rate">INR 2500</div>
    <div class="card-title">AMK-Alang Madan Kulang Trek</div>
    <div class="card-place">Maharashtra</div>
    <div class="card-organizer">Organized by Alpin climbers</div>
  </ion-card>
</ion-content>


